@layer components {
  .arrow {
    @apply relative;
    height: 30px;
    width: 30px;

    @media screen(lg) {
      height: 61px;
      width: 61px;
    }

    .arrow__outter {
      z-index: 12;
      height: 30px;
      width: 30px;

      @media screen(lg) {
        height: 61px;
        width: 61px;
      }
    }
    
    .arrow__inner {
      z-index: 10;
      top: 14px;
      left: -4px;
      width: 38px;

      @media screen(lg) {
        top: 29px;
        left: -7px;
        width: 79px;
      }
    }

    &.arrow--lg {
      height: 61px;
      width: 61px;

      @media screen(lg) {
        height: 85px;
        width: 85px;
      }

      .arrow__outter {
        height: 61px;
        width: 61px;
  
        @media screen(lg) {
          height: 85px;
          width: 85px;
        }
      }
      
      .arrow__inner {
        top: 29px;
        left: -7px;
        width: 79px;
  
        @media screen(lg) {
          top: 42px;
          left: -19px;
          width: 124px;
        }
      }
    }

    &.arrow--sm {
      height: 23px;
      width: 23px;

      @media screen(lg) {
        height: 23px;
        width: 23px;
      }

      .arrow__outter {
        height: 23px;
        width: 23px;

        @media screen(lg) {
          height: 23px;
          width: 23px;
        }
      }
      
      .arrow__inner {
        left: -6px;
        top: 12px;
        width: 33px;

        @media screen(lg) {
          width: 33px;
        }
      }
    }

    &.arrow--left,
    &.arrow--right {
      height: 27px;
      width: 27px;

      .arrow__outter {
        height: 27px;
        width: 27px;
      }

      .arrow__inner {
        top: 17px;
        left: -50%;
        width: 45px;
      }
    }
  }
}