main.company-index .company-card {
  cursor: pointer;
  height: 432px;
  margin: 10px 10px 0 0;
  position: relative;
  transition: all 0.33s ease-in-out;
  width: 33%;
}
main.company-index .company-card:last-child {
  margin-right: 0;
}
main.company-index .company-card:hover {
  color: white;
  width: calc(33% + 113px);
}

main.company-index .company-card h4 {
  max-width: 75%;
  text-align: center;
}

main.company-index .company-card img {
  filter: grayscale(100%);
  height: auto;
  max-width: 75%;
}
main.company-index .company-card:hover img {
  filter: grayscale(100%) invert(100%);
}

main.company-index .company-card .location {
  opacity: 0;
  position: absolute;
  bottom: 25px;
  right: 25px;
  transition: opacity 0.33s ease-in-out;
}
main.company-index .company-card:hover .location {
  opacity: 1;
}