@layer components {
  main.user-index {
    padding-top: 230px;
  }

  main.user-index hr {
    margin: 35px 0 55px 0;
    opacity: 0.2;
  }

  main.user-index .results {
    display: flex;
    flex-wrap: wrap;
  }

  main.user-index .user-card {
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    max-width: calc(25% - 7.5px);
    width: 100%;
  }

  main.user-index .user-card:nth-child(4n) {
    margin-right: 0px;
  }

  main.user-index img {
    max-width: 100%;
    width: 100%;
  }

  main.user-index .filters label {
    @apply font-medium cursor-pointer;
  }

  main.user-index .filters label.active {
    @apply border-b border-orange;
  }

  #user-search {
    display: inline-block;
    margin-top: 30px;
    position: relative;
  }
  #user-search input {
    @apply border-b border-lynch bg-transparent;
    height: 28px;
    width: 320px;
  }
  #user-search input:focus {
    outline: none;
  }
  #user-search svg {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}